@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
.mainh2 {
    font-family: 'Jeju Gothic', sans-serif  !important; 
    font-style: normal  !important;
    font-weight: 500  !important;
}

.mainh3 {
    font-family: 'Jeju Gothic', sans-serif  !important;
    letter-spacing: 0px  !important;
    font-weight: 100  !important;
}
body{
    font-family: 'Jeju Gothic', sans-serif; 
}